section#main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    place-items: center;
    align-items: stretch;
    max-width: 60ch;
    position: relative;
    margin: 0 auto;

    padding: 2rem;
}

* {
    /* background-color: rgba(238, 232, 170, 0.123); */
}

h1 {
    font-size: clamp(2rem, 2rem + 4vw, 6rem);
}

h3 {
    font-size: clamp(1.25rem, 1rem + 0.5vw, 2rem);
}

header {
    display: flex;
    flex-direction: column;
}

header > h1#title {
    align-self: center;
}

header > div#menu-btn {
    width: clamp(1rem, 1rem + 4vw, 2.5rem);
    aspect-ratio: 1;
}

div {
    font-size: clamp(12px, 10px + 1vw, 20px);
}

 div.flex{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
    gap: 0.5rem;
}

textarea {
    background-color: var(--c-card-bg);
    color: var(--c-card-text);
    font-size: 0.8em;
    overflow: auto;
    width: 100%;
    padding: 1rem;
}

div#input-buttons {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
    align-items: center;
}

button#go {
    grid-column: 1 / -1;
    grid-row: 1;
    width: clamp(8rem, 1rem + 10vw, 20rem);
    font-size: 1.5em;
}

div#options {
    grid-row: 1;
    grid-column: 2;
    position: relative;
    width: 3em;
    aspect-ratio: 1;
    justify-self: right;
}

div#options svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}