.toast-container {
  position: absolute;
  padding: 2em;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;

  border: 4px solid black;
  box-shadow: 6px 6px 0 0 black;
}

.toast-container button {
  aspect-ratio: 1;
  padding: 0.5em;
  line-height: 1;
}

.success {
  background-color: hsl(125, 68%, 55%);
}

.error {
  background-color: hsl(0, 68%, 63%);
}

.toast-container.active {
  top: 5%;
  opacity: 1;
}

.toast-info {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: 0.5fr 1fr;
  row-gap: 1em;
  color: hsl(230, 33%, 21%);
}

.toast-info .row-1 {
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.toast-info .title {
  color: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
}

.toast-info .message {
  color: inherit;
  grid-row: 2;
  grid-column: 1 / -1;
}

@media screen and (max-width: 150ch) {
  .toast-container {
    width: 90%;
  }
}
