:root {
  --c-p: #b8c1ec;
  --c-btn: #eebbc3;
  --c-btn-hover: #b8c1ec;
  --c-btn-text: #232946;
  --c-card-bg: #fffffe;
  --c-card-bg-2: #b8c1ec;
  --c-card-text: #232946;
  --c-headline: #fffffe;
  --c-bg: #232946;
}

@media (prefers-color-scheme: light) {
  :root {
    --c-p: #232946;
    --c-btn: #eebbc3;
    --c-btn-hover: #b8c1ec;
    --c-btn-text: #232946;
    --c-card-bg: #fffffe;
    --c-card-bg-2: #b8c1ec;
    --c-card-text: #232946;
    --c-headline: #232946;
    --c-bg: #fffffe;
  }
}

@font-face {
  font-family: "OpenDyslexicMono";
  src: url("/OpenDyslexicMono-Regular.otf");
  font-display: swap;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* min body height */
body {
  min-height: 100vh;
  overflow-x: hidden;

  background-color: var(--c-bg);
  font-family: "OpenDyslexicMono";
}

/* responsive images/videos */
img,
picture,
svg,
video,
textarea {
  display: inline-block;
  max-width: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  outline: inherit;

  background-color: var(--c-btn);
  color: var(--c-btn-text);
  border: 2px solid black;
  box-shadow: 4px 4px 0px 0px black;

  transition: transform 0.025s ease-in, box-shadow 0.025s ease-in;
}

button:hover {
  background-color: var(--c-btn-hover);
}

button:active {
  transform: translate(4px, 4px);
  box-shadow: unset;
}

p {
  color: var(--c-p);
  text-align: justify;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--c-headline);
}

a {
  /* text-decoration: none; */
  color: inherit;
}

:is(button, textarea, a, input):is(:focus, :active) {
  outline: 2px solid var(--c-p);
  outline-offset: 2px;
}

header {
  display: flex;
  place-items: center;
}

footer {
  display: grid;
  min-width: 100vw;
  place-items: center;
  margin-bottom: 5vh;
  margin-bottom: 5dvh;
  padding: 2rem;
}

:is(footer, header) > .googleAd {
  height: 10dvh;
}
