.accordion {
    display: block;
}

.accordion-item {
    background-color: var(--c-card-bg);
    margin-bottom: 1rem;
    border: 4px solid black;
    box-shadow: 6px 6px 0 0 black;

    --transition: 0.5s;
}

.accordion-header {
    background-color: var(--c-btn);
    padding: 1rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion-header h4 {
    color: var(--c-btn-text);
}

i.fa-solid {
    color: var(--c-btn-text);
    font-size: 1.5em;
    display: none;

    transition: transform var(--transition) ease;
}

i.fa-solid.active {
    display: block;
}

.accordion-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--transition) ease;
    color: var(--c-card-text);
}

.accordion-answer.active {
    max-height: 20em;
}

.accordion-answer ul {
    padding: 1rem;
    list-style-type: none;
}

.accordion-answer li::before {
    content: "+ ";
}

@media screen and (min-width: 150ch) {
    .accordion {
        display: flex;
        gap: 2rem;
    }

    .accordion-answer {
        max-height: max-content;
    }

    i:is(.fa-solid, .fa-solid.active) {
        display: none;
    }
}